# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of go build
/build/
bin/
obj/

# Go workspace file
go.work
go.work.sum

# env file
.env

# db files
storage/

# IDE/editor files
.idea/
.vscode/
*.swp
.DS_Store

# Test logs
*.log

# Coverage files
*.cover
coverage.out
